@*
*
* to do sample project
*
*@

@*
* データモデルをViewに渡すのは本当は良くないよ
*@
@import lib.model.Todo
@import lib.model.TodoCategory

@(vv: model.ViewValueHome,todos:Seq[Todo],categorys:Seq[TodoCategory],debug:Any = None)
@common.Default(vv){
<h2>カテゴリー一覧</h2>
<ul>
      @for(category <- categorys){ <li class="@category.color.className"><a href="category/@category.id">
                  <div>@category.name (@category.slug)</div>
            </a></li>}
</ul>
<h2>Todo一覧</h2>
<ul>
      @for(todo <- todos){
           @for(category <- categorys.find(_.id == todo.categoryId)){
            <li class="@category.color.className"><a href="todo/@todo.id">
                  <div>@todo.title</div>
                  <div>@todo.body</div>
                  <div>@todo.state.name</div>
                  <div>@category.name</div>
            </a></li>
            }
      }
</ul>
<div><a href="todo/0">追加</a></div>
<code>@debug</code>
}