
@*
*
* to do sample project
*
*@

@*
* データモデルをViewに渡すのは本当は良くないよ
*@ 

@import lib.model.Todo
@import lib.model.TodoCategory
@import helper._


@(vv: model.HomeView,categorys:Seq[TodoCategory],todoForm:Form[Todo],debug:Any = None)(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@common.Default(vv){
      @form(action = routes.HomeController.upsert){
      <fieldset>
            @CSRF.formField
            <input type="hidden" value="@todoForm("id").value" name="id">
            @inputText(todoForm("title"))
            @textarea(todoForm("body"))
            @* select(todoForm("categoryId"),categorys.map(category => (category.id.get.toString,category.name))) *@
            @select(todoForm("categoryId"),options = categorys.map(category => (category.id.get.toString,category.name)))
      </fieldset>
      <div><input type="submit" value="upsert"><input type="reset" value="reset"></div>
      }
}