@*
*
* to do sample project
*
*@

@*
* データモデルをViewに渡すのは本当は良くないよ
*@

@import lib.model.Todo
@import lib.model.TodoCategory
@import helper._

@* Seq[(String,String)] <- ここは専用の型を定義したほうがいいかな *@

@(vv: model.HomeView,todoForm:Form[Todo],statusesSelect:Seq[(String,String)],categorySelect:Seq[(String,String)],debug:Any = None)(implicit request: RequestHeader, messagesProvider: MessagesProvider)
@common.Default(vv){
<div><p><a href="/">Home</a> > Todo</p></div>
@form(action = routes.HomeController.upsert){
<fieldset>
      @CSRF.formField
      <input type="hidden" value="@todoForm("id").value" name="id">
      @inputText(todoForm("title"))
      @textarea(todoForm("body"))
      @if(None == todoForm("id").value){
            @* 素直にフォーム分けておいたほうがきれいかな *@
            <input type="hidden" value="@todoForm("state").value" name="state">
      }else{
            @select(todoForm("state"),options = statusesSelect)
      }
      @select(todoForm("categoryId"),options = categorySelect)
</fieldset>
<div><input type="submit" value="upsert"><input type="reset" value="reset"></div>
}
@if(!todoForm("id").value.isEmpty){ 
      @* 素直にフォーム分けておいたほうがきれいかな *@
      <div><a href="/todo-remove/@todoForm("id").value">remove</a></div>
}

}